body
    {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    }

.Game-Button
    {
    cursor: pointer;
    color: lightblue;
    }

.Game-Button:hover
    {
    color: rgb(133, 184, 230);
    }

#Loading
    {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    }


    /* ---- Menu ---- */

#Menu
    {
    color: white;
    }

#Menu > div
    {
    display: inline-block;
    margin: 0 10px;
    }


    /* ---- Message ---- */

.Game-Message-container
    {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: black;
    color: white;
    }
