    /* ---- Basic elements ---- */

body
    {
    margin: 0;
    text-align: center;
    background-color: black;
    }

#Game-canvasContainer
    {
    position: relative;
    }

#Game-canvasContainer canvas:first-child
    {
    background-color: white;
    }

.Game-Canvas:not(:first-child)
    {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    }

.Game-preText
    {
    color: white;
    margin-right: 5px;
    }

    /* ---- Menu ---- */

.Game-Container
    {
    color: white;
    }

.Game-Button
    {
    display: inline-block;
    cursor: pointer;
    color: green;
    margin: 2px 5px;
    }

.Game-Button:hover > :not(.Game-preText):not(.Game-selected)
    {
    text-decoration: underline;
    }


.Game-MultipleOptions span
    {
    padding: 5px;
    display: inline-block;
    }

.Game-selected
    {
    color: red;
    }

.Game-inactive, .Game-Button.Game-inactive
    {
    cursor: default;
    color: gray;
    text-decoration: none;
    }

.Game-Value.Game-Button.Game-inactive:hover > span
    {
    text-decoration: none;
    }


    /* ---- Message ---- */

.Game-Message-container
    {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: aliceblue;
    color: black;
    }

.Game-Message-container .Game-Container,
.Game-Message-container .Game-preText
    {
    color: black;
    }

.Game-Message-container .Game-Button
    {
    color: cornflowerblue;
    }

.Game-Message-Buttons
    {
    margin-top: 10px;
    text-align: right;
    }

.Game-Message-Buttons > *
    {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px;
    }

.Game-Message-Buttons .Game-Button
    {
    background-color: cornflowerblue;
    color: aliceblue;
    }

.Game-Message-background
    {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    }

.Game-Message-container .Game-Text
    {
    text-align: right;
    }